.home-container {
  position: relative;
  display: flex;
  height: calc(100vh - 60px);
  align-items: center;
}

.intro {
  margin: 1rem;
  padding-left: 1rem;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 8rem;
  color: #fff;
  -webkit-text-stroke: 4px black;
}

.about-link-container {
  display: flex;
  align-items: center;
}

.hello {
  animation: hello-load 0.7s 1s;
}

.about-link-container {
  animation: hello-load 0.7s 1.8s;
}

.home-info {
  animation: hello-load 0.7s 2.6s;
}

.hello,
.about-link-container,
.home-info {
  transform: translateX(-100%);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes hello-load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
