@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.nav-pages,
.nav-contact {
  display: flex;
  list-style: none;
  margin: 0.4rem 1rem;
  text-decoration: none;
  line-height: 1.5rem;
}

.nav-links,
.nav-links-contact {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.nav-links-contact,
.nav-icon {
  color: #f07605;
}

.icons {
  display: flex;
  flex-direction: row;
}

ul > li,
.icons > li {
  padding: 0 0.6rem;
}

.nav-links::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: white;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease-in-out;
}

.nav-links-contact::after {
  background-color: #f07605;
}

.nav-links-contact:hover::after,
.nav-links:hover::after {
  width: 100%;
}

.active::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease-in-out;
}

.nav-links-contact.active::after {
  background-color: #f07605;
}

@media only screen and (max-width: 480px) {
  .nav-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  .navbar {
    background: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(8px);
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
    font-size: 2.4rem;
    right: -100%;
    transition: all 0.6s ease-in-out;
  }

  .navbar.active {
    right: 0;
  }

  .nav-pages {
    height: 70%;
    justify-content: space-around;
  }

  .nav-contact {
    height: 30%;
    justify-content: space-between;
  }

  .nav-pages,
  .nav-contact {
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
